.container {
  max-width: 120rem;
  /* background-color: var(--grey-light-1); */
  background-color: #fff;
  margin: 5rem auto;

  min-height: 50rem;
  box-shadow: var(--shadow-dark);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.nav-sidebar {
  flex: 0 0 18%;
  background-color: var(--grey-dark-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  background-color: var(--grey-light-1);
  border-bottom: var(--line);
  padding: 4.5rem;

  display: flex;
  column-gap: 4.5rem;
}

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MEDIA QUERIES */
/* 1200px = 75em */
/* 1100px = 68.5em */
/* 900px = 56.25em */
/* 600px = 25.94em */

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 68.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }

  .detail {
    column-gap: 3rem;
    padding: 3rem;
  }

  .description {
    padding: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}

@media only screen and (max-width: 25.95em) {
  .header {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
